
<h1>Enter the Student Information</h1>

<%= form_for @student do |f| %>  <% if @student.errors.any? %>  <p>There were errors:</p>
    <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :firstname %>
  <%= f.text_field :firstname %>
  <br>

  <%= f.label :lastname %>
  <%= f.text_field :lastname %>
  <br>

  <%= f.submit "Submit" %>  <% end %>


<br>

<h1>Display All Student Information</h1>

<% if @students.any? %>  <% for student in @students %>
    <%= student.firstname %>
    <br>
    <%= student.lastname %>
    <br>
  <% end %>
<% end %>  ```

